
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        Thank you for your email confirmation <a asp-controller="Home" asp-action="Index">Click here</a> to return to the home page.
    </p>
</div>

